.main{
    height: 100%;
    width: 100%;
}

.nav-list {
    list-style: none;
    background-color: rgb(70, 70, 180);
    width: 100%;
    margin-left: 15px;
}

.nav-list li{
    padding: 10px 20px;
    text-align: left;
}

.nav-list .item{
    list-style: none;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    justify-content: flex-start;
    text-align: left;
}

.icons{
    margin-right: 10px;
}

.ham-switcher{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.ham-switcher button{
    width: 20px;
    cursor: pointer;
}

.menu-content{
    display: flex;
}

.menu-content .menu{
    background-color: #434343;
    max-width: 300px;
}

.menu-content .content{
    margin-left: 4rem;
    width: 100%;
}